*{
    margin: 0px;
    padding:0px;
}
/* header */
body{
    background: black;
    /* font-family: "math"; */
}


.playfair-display-body {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

@font-face {
    font-family: Zaptron;
    src: url('Zaptron-Regular.otf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


.header{
    display: grid;
    color:#daa520;
    grid-auto-flow: column;
    justify-content: space-between;
    background-color: rgb(158, 146, 151);
    height: 95px;
    position: sticky;
    top: 0;
    z-index: 11;
    background: rgba(255, 255, 255, 0.2); /* Semi-transparent */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow */
    backdrop-filter: blur(10px); /* Blur effect */
    border: 1px solid rgba(255, 255, 255, 0.3); 

}
#logo{
    width:103px;
}
.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: #daa520;
    padding: 20px;
}
.menuline:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition:all .5s ease;
    bottom: 0;
    left: 0;

}

.menulist li{
    list-style: none;
    padding: 20px;
}
.menulist li a {
    color: #daa520;
    text-decoration: none;
    font-size: 20px;

}
.menulist li a:hover{
    color: white;
}

.menulist{
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    height: 95px;
}
.headlogo {
    margin-left: 52px;
    align-items: center;
    display: flex;
    font-size: 38px;
}
.datetime{
    font-size: 41px;
    color: #b88746;
    margin-top: 40px;
    padding: 21px;
    border: solid;
    margin-left: 236px;
    width: 541px;
    border-radius: 27px;
    font-family:'Times New Roman', Times, serif;
}

.datetime h5, .datetime p, .countdown span{
   font-family:'Times New Roman', Times, serif;
  font-weight: 200;
  font-style: normal;
  color: #daa520;
    word-spacing: 4px;
}
.count{
    padding-top: 11px;
}
/* home */
.homepara h2, .homepara h3{
    color: #b88746;
    font-family: Zaptron;
    color: transparent;
    -webkit-text-fill-color: transparent;
    animation-timeline: auto;
    animation-range-start: normal;
    animation-range-end: normal;
    /* margin: 0px; */
    background: linear-gradient(45deg, rgba(255, 225, 230, 0.763), rgb(0, 0, 1), #daa520) 0% 0% / 200% text;
    animation: 4s linear 0s infinite normal none running gradient;

}
@keyframes gradient{
    0% {
        background-position: 0% center;
    }
    
    100% {
        background-position: -200% center;
    }
}

.homepage{ 
    /* height: 80vh; */
    padding: 80px 52px 50px;
    background-image: url(img/hback.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 5px;
    text-align: center;  
}
/* collage name */
.clg img{
    width:99px;
}
.clg h1{
    color: #daa520;
    font-size: 39px;
    align-content: center;
    padding-right: 251px;
    font-family: Zaptron;
}
.clg{
    display: grid;
    grid-auto-flow: column;
    margin-right: 270px;
    margin-left: 49px;
}
#D{
    margin: 0px -19px;
}
.theback button{
    background-color: #daa520;
    border: none;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: box-shadow 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
    font-family:'Times New Roman', Times, serif;
  font-weight: 200;
  font-style: normal;
  color: #261b09;
    word-spacing: 4px;
    margin: 0px 42px;
}




.regbtn {
  background-color: #daa520;
  border-radius: 100px;
  box-shadow: rgb(187 179 44 / 20%) 0 -25px 18px -14px inset, rgb(185 187 44 / 15%) 0 1px 2px, rgb(187 184 44 / 15%) 0 2px 4px, rgb(187 173 44 / 15%) 0 4px 8px, rgb(187 173 44 / 15%) 0 8px 16px, rgb(185 187 44 / 15%) 0 16px 32px;
  color: rgb(128, 109, 0);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding:9px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 17px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 31px;
  margin-right: 367px;
}

.regbtn:hover {
  box-shadow: rgba(187, 182, 44, 0.35) 0 -25px 18px -14px inset,rgba(187, 182, 44, 0.25) 0 1px 2px,rgba(187, 182, 44, 0.25) 0 2px 4px,rgba(182, 187, 44, 0.25) 0 4px 8px,rgba(187, 187, 44, 0.25) 0 8px 16px,rgba(187, 182, 44, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}


.theback button:hover {
    box-shadow: 0 0 20px 5px #e7bc21;
    background: transparent;
    background-color: #dabb55; 
    
}


.title{
    font-size: 77px;
    font-weight: 400;   
    margin-right: 359px; 
    
}


.subtitle{
    font-size: 32px;
    margin-right: 367px;
} 


#timeLeft{
    display:grid;
}
.countdown {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    padding-top: 20px;
    gap: 20px;
}
.countdown div span{
    font-size: 17px;
}
.countdown div{

    flex-basis: 100px;
    width: 101px;
    margin: -2px;
    padding: 8px;
    border: solid;
    border-radius: 60px;
}
.countdown div p{
        font-size: 51px;
    margin-bottom: -14px;
}
/* about */
#aboutvideo {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
} 
.abouthead{
    text-align: center;
    font-size: 57px;
    color:#daa520;
    padding-top: 78px;
    font-family: Zaptron;
    color: transparent;
    -webkit-text-fill-color: transparent;
    animation-timeline: auto;
    animation-range-start: normal;
    animation-range-end: normal;
    margin: 0px;
    background: linear-gradient(45deg, rgba(255, 225, 230, 0.763), rgb(0, 0, 0), #daa520) 0% 0% / 200% text;
    animation: 4s linear 0s infinite normal none running gradient;

}

.aboutpage{

    display: grid;
    grid-auto-flow: column;
    background: url('backvedio.mp4') no-repeat center center fixed;
    background-size: cover;
    /* background-size: cover;
    background-position: center; */
    /* height: 100vh; */
    color: white;
    border-image: fill 0 linear-gradient(#0003, #000);
    
}
.aboutpara{
    
    font-size: 23px;
    padding: 16px 183px 0px;
    text-align: justify;
    

}
.aboutpara p{
    margin-top: 20px;
    font-family:'Times New Roman', Times, serif;
    font-weight: 200;
    font-style: normal;
    color: #eccc97;
    word-spacing: 4px;
    display: flex;
    justify-content: space-between;

}
.aboutimg img{
    max-width: 726px;
    max-height: 1061px;
    height: 100%;
    width: 100%;
}
  
/* guidelines */
 .guidlinepage{
    padding: 23px 0px 87px;  
    /* background-color:black; */
    /* background-image: url('img/home1.jpg'); */
    background-size: cover;
    background-position: center;
    /* height: 100vh; */
}
#myVideo {
    /* max-width: 1516px; */
    max-width: 100%;
    min-height: 100vh;
    position: absolute;
    z-index: -1;
}
/* #mymobileVideo{
    display: none;
} */
.para{
    display: grid;
    grid-auto-flow: column;
    gap: 168px;
    justify-content: center;

}
.guidlinepage h1{
    font-size: 57px;
    text-align: center;
    color: #daa520;
    margin-bottom: 20px;
    padding-top: 44px;
    font-family: Zaptron;
    color: transparent;
    -webkit-text-fill-color: transparent;
    animation-timeline: auto;
    animation-range-start: normal;
    animation-range-end: normal;
    margin: 0px;
    background: linear-gradient(45deg, rgba(255, 225, 230, 0.763), rgb(0, 0, 0), #daa520) 0% 0% / 200% text;
    animation: 4s linear 0s infinite normal none running gradient;

}
.paraleft {
    display: grid;
    grid-auto-flow: row;
    gap: 30px;
}
.pararight{
    display: grid;
    grid-auto-flow: row;
    gap: 30px;
}
.guid{
    background-color: #fdd164;
    display: grid;
    grid-auto-flow: column;
    border-radius: 10px;
    height: 226px;

}

.style{
    background: #daa520;
    width: 172px;
    border-bottom: 10px solid #fdd164;
    border-top: 10px solid #fdd164;
        border-radius: 10px;


}

.do{
    position: absolute;
    width: 64px;
    height: 0px;
    border-top: 112px solid transparent;
    border-right: 116px solid #fdd164;
    border-bottom: 112px solid transparent;
}
.line{
    padding: 20px;
}

.guidlinepage img{
    max-width: 396px;
    margin-left: 492px;
} 

/* Domain */
.domains{
    display:grid;
    grid-auto-flow: column;
    margin-left: 52px;
    overflow-x: scroll;
    gap: 29px;
    margin-left: 13px;
    scroll-behavior: smooth;
    scrollbar-width: none;
    font-family:'Times New Roman', Times, serif;
}
.domains::-webkit-scrollbar {
    display: none; /* Hide scrollbar in Chrome, Edge, and Safari */
}
.domain1 a{
    text-decoration: none;
    color: #2d2102;
}
.domain1 h2{
    text-align: center;
   font-family:'Times New Roman', Times, serif;
  font-weight: 200;
  font-style: normal;
  color: #e5d6d6;
    word-spacing: 4px;
}
.domainpage h1{
    font-size: 82px;
    text-align: center;
    padding: 83px 48px 48px;
    color:#daa520;
    font-family: Zaptron;
    color: transparent;
    -webkit-text-fill-color: transparent;
    animation-timeline: auto;
    animation-range-start: normal;
    animation-range-end: normal;
    margin: 0px;
    background: linear-gradient(45deg, rgba(255, 225, 230, 0.763), rgb(0, 0, 0), #daa520) 0% 0% / 200% text;
    animation: 4s linear 0s infinite normal none running gradient;

}
.domain1{
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.2); /* Semi-transparent */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow */
    backdrop-filter: blur(10px); /* Blur effect */
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 227px;
    height: 346px;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
}

.domainpage{
    background-image: url('img/homeright.jpg');
     background-size: cover;
     background-position: center;
     /* height: 100vh; */
    padding: 0px 10px;
    height: 690px;
    
}
.domain1{
    position: relative;
    border-radius: 4px;
    background: rgba(61, 53, 53, 0.2); /* Semi-transparent */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow */
    backdrop-filter: blur(10px); /* Blur effect */
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 227px;
    height: 346px;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
    
  }

.domains img{
    width: 192px;
    height: 220px;
    margin: 18px;   
}

.thecard{
    position: relative;
    top: 0;
    left: 0;
    width: 227px;
    height: 346px;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
    /* box-shadow: rgb(255 0 0) 0px 4px 20px 0px; */
}



  
  
  .thecard:hover{
    transform: rotateY(180deg);
  }
  

   .thefront{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    /* background: #b63838; */
    color: #000;
   
    border-radius: 4px;
    background: rgba(61, 53, 53, 0.2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  .thefront h2{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-weight: 200;
    font-style: normal;
    color: #e5d6d6;
    word-spacing: 4px;
  }
  
 /* .theback button{
    padding:10px;
    margin:10px;
    background-color: #8a6806;
    border-radius: 4px;
    border-color: #8a6806;
 } */
.theback a{
    color: #2d2102;
    text-decoration: none;

}
  .theback{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    /* background: #ff6565; */
    border-radius: 4px;
    background: rgba(61, 53, 53, 0.2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #333;
    text-align: center;
    transform: rotateY(180deg);
    align-content: center;
    display: grid;
    gap: 15px;
    justify-content: center;
  }
  .theback p{
    color: #cfa326;
    padding: 10px;
  }
  
 
  .thefront h1, .theback h1{
    padding: 30px;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
  }
  
  .thefront p, .theback p{   

    font-weight: normal;
    font-size: 20px;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
  }





.problem-btn{
    padding: 20px;
    border: #daa520;
    border-radius: 29px;
    margin: 40px;
    margin-left: 45%;
    background-color: #daa520;
    
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    font-family:'Times New Roman', Times, serif;
  font-weight: 200;
  font-style: normal;
  color: #261b09;
    word-spacing: 4px;
}
/* prize */
.prizepage{
  
    background-image: url('img/home1.jpg');
    background-size: cover;
    background-position: center;
   
}
.prizepage h1{
    text-align: center;
    padding: 83px 20px 20px;
    font-size: 82px;
    color:#daa520;
    font-family: Zaptron;
    color: transparent;
    -webkit-text-fill-color: transparent;
    animation-timeline: auto;
    animation-range-start: normal;
    animation-range-end: normal;
    margin: 0px;
    background: linear-gradient(45deg, rgba(255, 225, 230, 0.763), rgb(0, 0, 0), #daa520) 0% 0% / 200% text;
    animation: 4s linear 0s infinite normal none running gradient;

}
.prizepage p{
    text-align: center;
    padding:20px;
    font-size: 50px;
    color:rgb(228, 96, 96);

}
.prizeimgs{
    display: grid;
    grid-auto-flow: row;
    gap: 10px;
}
.prizeimgs img{
    width: 192px;
    height: 220px;
    box-shadow: black;
 
} 
.prize1{
    display: grid;
    justify-content: center;
}
.prize2{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-around;
}

.prizethree, .prizetwo{
    display: grid;
}
.prizethree img,.prizetwo img,.prize1 img{
    justify-self: center;
}
/*timeline*/
.timelinepage{
    /* height: 618px; */
    padding: 46px 62px;
    background-image: url('img/homeright.jpg');
    background-size: cover;
    background-position: center;
     
   

}
.timegrid{
    display: grid;
    grid-auto-flow: row;
    gap: 30px;
    
}
.timeup{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
}
.timedown{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-evenly;

}
.timeup h2, .timeup p, .timedown h2,.timedown p{
  font-family:'Times New Roman', Times, serif;
  font-weight: 200;
  font-style: normal;
  color: #e5d6d6;
    word-spacing: 4px;
}
.timeup div{
    width: 271px;
    border-radius: 20px;
    height: 239px;
    background-color: #f7c200ef;
    display: grid;
    align-content: center;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.timedown div{
    width: 281px;
    height: 239px;
    border-radius: 20px;
    background-color: #f7c200ef;
    display: grid;
    align-content: center;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.timelinepage h1{
    text-align: center;
    font-size: 62px;
    margin: 0px 0px 26px;
    color:#daa520;
    padding-top: 44px;
    font-family: Zaptron;
    color: transparent;
    -webkit-text-fill-color: transparent;
    animation-timeline: auto;
    animation-range-start: normal;
    animation-range-end: normal;
    margin: 0px;
    background: linear-gradient(45deg, rgba(255, 225, 230, 0.763), rgb(0, 0, 0), #daa520) 0% 0% / 200% text;
    animation: 4s linear 0s infinite normal none running gradient;

}


@keyframes gradient{
    0% {
        background-position: 0% center;
    }
    
    100% {
        background-position: -200% center;
    }
}

.emptyline{
    border: solid;
    justify-self: center;
    width: 100%;
    max-width: 1120px;
    color: #daa520;
    position: absolute;
    align-self: center;

}
.dotgrid{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    width: 1126px;
    justify-self: center;
    z-index: 1;
}
.dot1{
    background-color: #db2626;
    border: solid black;
    width: 13px;
    border-radius: 73px;
    height: 13px;
    /* position: absolute;
    margin-top: 264px ;
    margin-left:112px; */
}
.dot2{
    background-color: #db2626;
    border: solid black;
    width: 13px;
    border-radius: 73px;
    height: 13px;
    /* position: absolute;
    margin-top: 264px ;
    margin-left: 403px; */
}
.dot3{
    background-color: #db2626;
    border: solid black;
    width: 13px;
    border-radius: 73px;
    height: 13px;
    /* position: absolute;
    margin-top: 264px ;
    margin-left: 684px; */
}
.dot4{
    background-color: #db2626;
    border: solid black;
    width: 13px;
    border-radius: 73px;
    height: 13px;
    /* position: absolute;
    margin-top: 264px ;
    margin-left: 963px; */
}
.dot5{
    background-color: #db2626;
    border: solid black;
    width: 13px;
    border-radius: 73px;
    height: 13px;
    /* position: absolute;
    margin-top: 264px ;
    margin-left: 1244px; */
}
.timegrid h2, .timegrid p{
    text-align: center;
    color: #daa520;
    
} 
.timegrid h2{
    font-size: 30px;
}
.timegrid p{
    font-size: 24px;
}

/* faqs */
.faqpage {
        padding: 0px 52px;
        background-image: url('img/homeright.jpg');
        background-size: cover;
        background-position: center;   
}

.faqpage h1 {
    text-align: center;
    margin-bottom: 38px;
    color: #daa520;
    font-size: 62px;
    padding: 98px 20px 20px;
    font-family: Zaptron;
    color: transparent;
    -webkit-text-fill-color: transparent;
    animation-timeline: auto;
    animation-range-start: normal;
    animation-range-end: normal;
    margin: 0px;
    background: linear-gradient(45deg, rgba(255, 225, 230, 0.763), rgb(0, 0, 0), #daa520) 0% 0% / 200% text;
    animation: 4s linear 0s infinite normal none running gradient;
}




.faq-item {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    cursor: pointer;
}

.faq-question {
    font-size: 21px;
    color: #daa520;
    padding: 25px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow */
    backdrop-filter: blur(10px); /* Blur effect */
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-family:'Times New Roman', Times, serif;
    font-weight: 200;
    font-style: normal;
    color: #cfa326;
    word-spacing: 4px;
}

.faq-answer {
    display: none;
    font-size: 20px;
    color: #555;
    padding: 24px 15px;
    background-color: #e1be61;
    border-radius: 5px;
    margin-top: 5px;
    font-family:'Times New Roman', Times, serif;
    font-weight: 200;
    font-style: normal;
    color: #7c5205;
    word-spacing: 4px;
}
/* footer */
.footerpage{
    background-color: #0f0f0f;
    display: grid;
    grid-auto-flow: column;
    padding: 92px 250px;

}
.flogo h2
{
    padding:0px;
    margin-left: -5px;
    font-size: 20px;
}

.header {
    animation: fadeIn 1s ease-in-out;
}

/* Home Page Text */
.homepara, .title, .subtitle {
    animation: slideIn 1.5s ease-out;
}

.regbtn a{
    text-decoration: none;
    color: #2d2102;
}





/* About Section */
.aboutpage {
    animation: fadeIn 2s ease-in;
}

.aboutpara {
    animation: slideIn 2s ease-in;
}

/* Guidelines Section */
.guid {
    animation: fadeIn 1.5s ease-in-out;
}

/* .guidlinepage h1 {
    animation: slideIn 2s ease-in;
} */

.guidlinepage, .para {
    animation: fadeIn 2s ease-out;
}

/* Domains Section */
.domainpage {
    animation: slideIn 2.5s ease-in-out;
}

.domain1 {
    animation: pulse 3s infinite;
}
#backbtn,#nextbtn{
    display: block;
    width: 50PX;
    cursor: pointer;
    
}
.boxs-wrap {
    display: flex;
    align-items: center;
    margin: 50px 0px ;
}
/* Prize Section */


.prizeimgs img {
    animation: pulse 4s infinite;
    transition: transform 0.3s;
}

.prizeimgs img:hover {
    transform: scale(1.1); /* Enlarge on hover */
}

.prizeimgs p{
    /* font-family: "Acme", serif; */
  font-family:'Times New Roman', Times, serif;
  font-weight: 200;
  font-style: normal;
  color: #e5d6d6;
    word-spacing: 4px;
}

/* Timeline Section */


.timeup div, .timedown div {
    animation: slideIn 2.5s ease-out;
}

/* FAQ Section */
.faq-item {
    animation: fadeIn 1.5s ease-in-out;
}

.faq-question {
    transition: background-color 0.3s;
}

.faq-question:hover {
    background-color: #64614a; 
}
.faq{
    margin: 0px 148px;
}
/* Footer Section */
.footerpage {
    animation: fadeIn 2s ease-in;
}
.footerpage h2,.footerpage p{
  font-family:'Times New Roman', Times, serif;
  font-weight: 200;
  font-style: normal;
  color: #e5d6d6;
    word-spacing: 4px;
}
/* Add general transitions for smooth effects */
/* * {
    transition: all 0.3s ease-in-out;
} */
.line h2 ,.line p{
  font-family:'Times New Roman', Times, serif;
  font-weight: 200;
  font-style: normal;
  color: #745a10;
    word-spacing: 4px;

}
#flogo{
    width: 144px;
    
    /* padding-left: 83px; */
}
.icons {
    display: flex;
        /* grid-auto-flow: column;
        align-items: center; */
}
.icons img{
    width: 32px;
    height: 32px;
    padding: 5px;
    
}

.cdet img{
    width: 32px;
    height: 32px;
    padding: 5px;
}

.flogo{
    display: grid;
    grid-auto-flow: row;
}
/* .flogo div{
        padding-top: 47px;
        padding-left: 35px;
} */
 .foot{
    padding-top: 47px;
    padding-left: 10px;
 }
.cdet{
    display: grid;
    grid-template-columns: 7% 93%;
    gap: 10px;
    padding-top: 11px;
    font-size: 25px;
}
.footerpage h2{
    font-size:22px;
    color: #cfa326;
    margin-top: -14px;
}
.contact p{
    color:#8a6806;
}
.contact{
    padding-left: 180px;
    padding-top: 47px;
}
.contact h2{
    font-size: 40px;
}

/* guidlinepage */
.cards {
  position: relative;
  list-style-type: none;
  padding: 0;
  max-width: 34em;
  margin: 1% auto 0;
}
.card {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background:  radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);;
  font-family:'Times New Roman', Times, serif;
  border-radius: 30px;
  padding: 40px;
  height: 248px;
  box-shadow: 0 0 40px #000;
  transform: translateY(0) rotate(4deg) translateX(25px) scale(1);
  transform-origin: 0 0;
  transition: transform 0.6s cubic-bezier(0.8, 0.2, 0.1, 0.8) 0.1s, background 0.4s linear;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

}
.card :last-child {
  margin-bottom: 0;
}
.card--next {
  z-index: 5;
  transform: translateY(-25px) rotate(4deg) translateX(25px) scale(1);
}
.card--out {
  -webkit-animation: card-out 0.6s cubic-bezier(0.8, 0.2, 0.1, 0.8);
          animation: card-out 0.6s cubic-bezier(0.8, 0.2, 0.1, 0.8);
  transform: translateY(-50px) rotate(8deg) translateX(55px) scale(0.95);
  z-index: 1;
  background:  radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);;
}
@-webkit-keyframes card-out {
  0% {
    z-index: 20;
    transform: translateY(0px) rotate(-4deg);
  }
  50% {
    transform: translateY(-120%) rotate(-5deg) translateX(-40px);
  }
  80% {
    z-index: 1;
  }
  100% {
    transform: translateY(-50px) rotate(8deg) translateX(55px) scale(0.95);
  }
}
@keyframes card-out {
  0% {
    z-index: 20;
    transform: translateY(0px) rotate(-4deg);
  }
  50% {
    transform: translateY(-120%) rotate(-5deg) translateX(-40px);
  }
  80% {
    z-index: 1;
  }
  100% {
    transform: translateY(-50px) rotate(8deg) translateX(55px) scale(0.95);
  }
}
.card--current {
  cursor: auto;
  -webkit-user-select: auto;
     -moz-user-select: auto;
      -ms-user-select: auto;
          user-select: auto;
  position: relative;
  z-index: 10;
  opacity: 1;
  background:  radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);;
  transform: rotate(-1deg) translateX(0%) scale(1);
}
.card h2{
    padding-bottom: 23px;
    text-align: center;
}
.card p{
    font-size: 21px;
}

/* font animation */

.container {
  display: flex;
/*   border:1px solid red; */
  /* height: 100%; */
  align-items: center;
  
}

.container svg {
    display: block;
    /* width: 196px; */
    /* height: 300px; */
    margin: 0 auto;
    margin-top: -164px;
}
#s-text text{
    font: 130px 'Montserrat';
}
#s-textD text{
    font: 118px 'Montserrat';
}
#s-textG text{
    font: 100px 'Montserrat';
}
#s-textT text{
    font: 118px 'Montserrat';
}
#s-textP text{
    font: 110px 'Montserrat';
}
#s-textF text{
    font: 72px 'Montserrat';
}
.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 3px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
  stroke: #eba71f;
  animation-delay: -1;
}

.text-copy:nth-child(2){
  stroke: #eba71f;
  animation-delay: -2s;
}

.text-copy:nth-child(3){
  stroke: #eba71f;
  animation-delay: -3s;
}

.text-copy:nth-child(4){
  stroke: #eba71f;
  animation-delay: -4s;
}

.text-copy:nth-child(5){
  stroke: #e5bf35;
  animation-delay: -5s;
}

@keyframes stroke-offset{
  100% {stroke-dashoffset: -35%;}
}
@media only screen and (max-width: 600px){
    .header{
        height: 60px;
    }
    .headlogo {
        margin-left: 10px;
    }
    #logo {
        width: 67px;
    }
    .homepage {
        height: unset;
        padding: 40px 0px 0px;
    }
    .title{
        font-size: 25px;
        margin-right: 0px;
    }
    .subtitle{
        font-size: 15px;
        margin-right: 0px;
    }
    .menulist{
        grid-auto-flow: row;
        display: none;
    }
    .clg{
        margin-right: 66px;
        margin-left: 36px;
    }
    .clg img {
        width: 52px;
    } 
    .clg h1{
        font-size: 13px;
        padding-right: 0px;
    }
    #D{
        width: 14px;
        margin: 0px -5px;
    }
    .regbtn{
        margin-right:0px;
        /* margin-left: 19px; */
        font-size: 12px;
    }
    .datetime{
        width: 278px;
        margin: 20px 0px 20px;
        font-size: 30px;
        justify-self: center;
    }
    .count{
        margin-right: 0px;
        padding-top:0px;
    }
    .count h5, .count p{
        font-size: 20px;
    }
    .countdown {
        margin-top: 19px;
        padding: 0px 47px;
    }
    .countdown div {
        width: 41px;
    }
    .countdown div p {
        font-size: 18px;
    }
    .countdown div span {
        font-size: 12px;
    }
    .aboutpage{
        height: unset;
    }
    .abouthead{
        font-size: 40px;
    }
    .aboutpara{
        padding: 16px 31px 0px;
    }
    .aboutpara p {
        font-size: 14px;
        text-align: justify;
    }

    .domainpage{
        height: unset;
    }
    .domains {
        overflow-x: scroll;
        gap: 29px;
      
        margin-left: 13px;
    }
    .domainpage h1{
        font-size: 44px;
        padding: 83px 48px 0px;
    }
    .domain1{
        width: 216px;
        height: 297px;
    }
    .domains img {
        width: 180px;
        height: 176px;
    }
    .domain1 h2 {
        font-size: 17px;
    }
    .theback{
        width: 217px;
        height: 257px;
    }
    .theback p{
        font-size: 14px;
    }
    .thecard{
        width: 217px;
        height: 297px;
    }
    .problem-btn{
        display: grid;
        justify-self: center;
        margin: 40px 0px 0px;
    
    }
    .guidlinepage h1 {
        font-size: 44px;
        padding-bottom: 27px;
    }
    .guidlinepage{
        height: unset;
    }
    .para {
        grid-auto-flow: row;
        gap: 45px;
    }
    .line h2,.line p{
        font-size:12px;
    }
    .paraleft{
        gap: 45px;
    }
    .faqpage h1{
        font-size: 19px;
        padding: 80px 20px 33px;
    }
    .faq{
        margin: unset;
    }
    .guid{
        height: 204px;
    }
    .style {
        width: 103px;
        height: 180px;
    }
    .do {
        width: 9px;
        border-top: 111px solid transparent;
        border-right: 103px solid #fdd164;
        border-bottom: 86px solid transparent;
    }
    .line{
        padding: 9px;
    }
    .timelinepage{
        height: unset;
        height: unset;
        padding: 0px 28px;
    }
    .timelinepage h1 {
        font-size: 44px;
        padding-bottom: 18px;
    }
    .timegrid { 
        grid-auto-flow: column;
        gap: 0px;
        grid-template-columns: 40% 20% 40%;
    }
    .timegrid h2{
        font-size: 19px;
    }
    .timegrid p{
    font-size: 15px;
}
    .timeup {
        grid-auto-flow: row;
        gap: 100px;
    }
    .timedown{
        grid-auto-flow: row;
        align-items: center;
    }
    .timeup div , .timedown div{
        /* width: 134px; */
        width: unset;
        height: 134px;
    }
    
    .dotgrid{
        display: grid;
        width: unset;
        justify-self: center;
    }
.dot1{
    margin-top: 62px;
    margin-left: 0px;
    justify-self: center;
    height: 13px;
    position: absolute;
    
}
.dot2{
    margin-top: 173px;
    margin-left: 0px;
    justify-self: center;
    height: 13px;
    position: absolute;
    
}
.dot3{
    margin-top: 295px;
    margin-left: 0px;
    justify-self: center;
    height: 13px;
    position: absolute;
    
}
.dot4{
    margin-top: 416px;
    margin-left: 0px;
    justify-self: center;
    height: 13px;
    position: absolute;
}
.dot5{
    margin-top: 530px;
    margin-left: 0px;
    justify-self: center;
    height: 13px;
    position: absolute;
    
}
    .emptyline {
        margin-left: 0px; 
        margin-right: 0px;
        margin-top: 64px;
        margin-bottom: 60px;
        width: 0px;
        display: flex;
        justify-self: center;
        height: 459px;
    }
    .regend{
        margin-top: 47px;
    }
    .ideaselection{
        margin-bottom: 47px;
    }
    .prizepage h1{
        font-size: 44px;
    }
    .prizeimgs img {
        width: 136px;
        height: 128px;
    }
    .prizepage p{
        padding: 10px;
        font-size: 20px;
    }

    .prize2{
        padding-top: 30px;
    }
    .faq-question {
        padding: 11px;
        font-size: 16px;
    }

    .flogo{
        grid-auto-flow: row;
        gap: 5px;
    }
    .flogo h2{
        margin-left: 0px;
    }
    #flogo {
        width: 66px;
        padding-left: 7px;
    }
    .foot {
        padding-top: 6px;
        padding-left: 0px;
        justify-self: center;
    }
    #d{
       width: 7px;
    }
    .icons{
        display: grid;
        grid-auto-flow: column;
        justify-content: space-evenly;
    
    }
    .icons img {
        width: 18px;
        height: 18px;
        padding: 0px;
    }

   
    .footerpage h2 {
        font-size: 11px;
        margin-top: 0px;
    }
    .footerpage {
        padding: 10px 20px;
    }
    .contact {
        padding-left: 0px;
        padding-top: 0px;
        align-content: center;
    }
    .cdet{
        font-size: 10px;
    }
    .cdet img {
        width: 18px;
        height: 18px;
        padding: 0px;
    }

    .menu {
        display: flex;
        justify-content: flex-end;
            align-items: center;
        padding-right: 20px;
    }
        
    .menulist {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 61px;
        right: 0;
        height: 300px;
        background-color: #eab725;
        
    }
    .menulist.active {
        display: flex;
    }
    .menulist li {
        text-align: center;
        padding: 11px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
    .hamburger {
        display: block;
        padding:0px 0px 21px;
    }    
    .menulist li a {
        font-size: 16px;
        color: #3a2a01;
        
    }
    #backbtn,#nextbtn{
        display: block;
        width: 50PX;
        cursor: pointer;
        
    }
    
    .boxs-wrap {
        display: flex;
        align-items: center;
        margin: 50px 0px 0px;
    }

    .container svg {
        margin-top: 0px;
        padding-bottom: 40px;
    }
    #s-text text{
    font: 160px 'Montserrat';
    }
    #s-textD text{
    font: 138px 'Montserrat';
    }
    #s-textG text{
    font: 160px 'Montserrat';
    padding-bottom: 20px;
    }
    #s-textT text{
    font: 148px 'Montserrat';
    }
    #s-textP text{
    font: 160px 'Montserrat';
    }
    #s-textF text{
    font: 82px 'Montserrat';
    }
    /* guidlines card */
    .card h2 {
        font-size: 18px;
    }
    .card p {
        font-size: 15px;
    }
    .card {
        padding: 27px 20px;
    }

    .cards{
        max-width: 14em;
    }
    .card h2{
    padding-bottom: 7px;
    }
    #myVideo{
        display: none;
    }
    /* #mymobileVideo{
        max-width: 100%;
        min-height: 100vh;
        position: absolute;
        z-index: -1;
    } */
    .guidlinepage {
        padding: 23px 0px 41px;
    }
}
    













